################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Remote
/RemoteTest/obj/Debug
/RemoteTest/bin/Debug
/packages
/Remote.sln.DotSettings.user
